body {
    background-color: aquamarine;
    
    margin: 0;
    font-family: "Public Sans", sans-serif;
}

/* NAVBAR */
nav {
    background-color: #198754;
    padding: 12px;
}

nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
    font-weight: bold;
}

/* TITOLI */
h1 {
    text-align: center;
    font-family: "Orbitron", sans-serif;
    margin: 20px 0;
}

/* CONTAINER */
.container {
    width: 80%;
    margin: auto;
}

/* GRID CARD */
.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* CARD */
.card {
    background-color: yellow;
    padding: 20px;
    border-radius: 10px;
    width: calc(33% - 20px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* BOTTONI */
.btn {
    text-decoration: none;
    padding: 8px 12px;
    background-color: black;
    color: white;
    border-radius: 6px;
    margin-top: 10px;
    display: inline-block;
}



.footer{
top: 0;

width: 100%;
}


.contattiSocial{

display: flex;
text-align: center;
justify-content: center;

}


.card-img-top {
    height: 250px;
    object-fit: cover;
    height: 250px;
}